.selectPart-content {
	@media(max-width: $xs-max) {
		padding: 15px;
	}

	&__row {
		background: $white;
		padding:20px 0 10px;
		margin-bottom: 10px;
		@media(min-width: $sm) {
			padding: 15px 0 0px;
			margin: 0;
		}
		&:last-child {
			padding-bottom: 0;
			@media(min-width: $sm) {
				padding: 0px;
			}
		}
	}
	
	&__buttons {
		@media(max-width: $xs-max) {
			position: fixed;
		    bottom: 0;
		    width: 100%;
		    left: 0;
		    height: 50px;
		    .button--primary-white {
		    	width: 100%;
			    text-align: center;
			    height: 50px;
			    color: $white;
			    background: $red;
			    line-height: 26px;
			    font-family: $Raleway-Bold;
			    font-size: 12px;
		    }

		    &--relative {
		    	position: relative;
		    }
		}
		@media(min-width: $sm) {
			margin:20px 15px 5px;
			text-align: right;
			position:relative;
		}

		&--relative {
			position: relative;
		}
	}
}

#selectPartPopup {
	.category-listing .flex-row .spare-info-content {
		@media(max-width: $xs-max) {
			background-color: $whitef3f3f3;
		}
	}
	.spare-content {
		padding: 20px 0;
		@media(min-width: $sm) {
			padding: 0;
		}
	}
	.category-scrollbox {
	  	position: relative;
	  	overflow: auto;
	  	margin-top: 0;
	  	padding: 20px 0;
	  	margin: 0 -15px;
		@media(min-width: $sm) {
		   padding-right: 40px;
		   height: 335px;
		   margin: 0 ;
		}
		@media(min-width: $lg) {
			height: 335px;
			padding-right: 50px;
		}
	}
	.category-listing {
		@media(min-width: $sm) {
			border: 1px solid $border;
			padding: 0 15px;
		}
	}
	.spare-info{
		&__left {
			float: left;
			width: 65%;

		}
		&__right {
			float: right;
			
			@media(max-width: $xs-max) {
				.select2-container	{width: 100% !important;}
			}
		}
		&__title {
			font-family: $OpenSans-Semibold;
			font-size: 13px;
			line-height: 16px;
			color: $black333;
			margin: 0 0 10px;

			@media(min-width: $sm) {
				font-size: 16px;
				line-height: 26px;
			}

			@media(min-width: $md) {
				font-size: 20px;
				line-height: 26px;
				margin: 0 0 8px;
			}
		}
		&__subtitle {
			font-family: $OpenSans-Regular;
			font-size: 12px;
			line-height: 22px;
			margin-bottom: 0px;
			display: block;
			color: $black999;

			@media(min-width: $sm) {
				font-size: 12px;
				line-height: 22px;
			}

			@media(min-width: $md) {
				font-size: 14px;
				line-height: 24px;
			}
		}
		&__price {
			font-family: $OpenSans-Bold;
			font-size: 14px;
			line-height: 16px;
			color: $black333;
	    	margin-bottom: 8px;

			@media(min-width: $sm) {
				font-size: 18px;
				line-height: 28px;
	    		margin-bottom: 8px;
			}

			@media(min-width: $md) {
				font-size: 20px;
				line-height: 30px;
			}
		}
		&__labels {
			margin: 15px 0 0px;
			@media(min-width: $sm) {
				margin: 15px 0 0px;
			}

			.label {
				@media(min-width: $sm) {
					margin-right: 15px;
   					margin-bottom: 15px;
				}
			}
		}
		&__buttons {
			margin-top: 10px;
			.button {
				&--primary-white {
					span {
						margin-left: 15px;
					}
					&:hover, &:focus, &:before {
						background-color: $white;
						color: $red;
					}
					&.active {
						background-color: $red;
						color: $white;
						&:hover, &:focus, &:before {
							background-color: $red;
							color: $white;
						}
						.mb-icon-plus:before {
							content: "\77";
						}
					}
				}
			}
		}
	} 
}

.spare-content {
	.spare-block__item {
		@media(max-width: $xs-max) {
			width: 95%;
		}
	}
	.select2-container--default .select2-selection--single {
	    border: 1px solid #eee;
	}
	.select2-container .select2-selection--single {
		height: 27px;

		@media(min-width: $sm) {
			height: 39px;
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 25px;
		padding-left: 10px;
    	padding-right: 25px;
    	font-size: 12px;

		@media(min-width: $sm) {
			line-height: 39px;
			font-size: 14px;
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 27px;

		@media(min-width: $sm) {
			height: 37px;
		}
	}

}