.stay-updated {
	background-color: $whitef3f3f3;

	@media(min-width: $lg) {
		padding-bottom: 60px;
	}
	h1.heading-lg {
		padding-bottom: 5px;
	}
	p.paragraph-md {
		color: $black666;
		font-size: 13px;
		@media(min-width: $sm) {
			font-size: 12px;
		}
		@media(min-width: $lg) {
			font-size: 14px;
		}
	}
}

.subscribe-form {
	margin-top: 30px;

	@media(min-width: $sm) {
		margin-top: 40px;
	}

	&__input {
		padding: 15px;
		border: 0;
		border: 1px solid #e1e1e1;
		font-size: 13px;
		color: $black666;
		font-family: $OpenSans-Regular;
		background-color: #f6f3f3;

		@media(min-width: $sm) {
			width: 425px;
			font-size: 14px;
			padding: 18px 15px 17px;
		}

		@media(min-width: 992px) {
			font-size: 16px;
			padding: 16px 15px;
		}
	}

	&__btn {
		background: transparent;
		border: 0;
		background: $red;
		padding: 15px;
		color: #fff;
		font-size: 13px;
		font-family: $Raleway-Bold;
		text-transform: uppercase;
		border: 1px solid $red;
		vertical-align: bottom;

		@media(min-width: $sm) {
			font-size: 14px;
			padding: 17px 17px 18px 17px;
		}

		@media(min-width: $md) {
			padding: 17px 25px;
		}
	}

	&__group {
		margin: 0 auto;
		display: inline-flex;
	}
}