footer.section-padding
	.container
		.row
			.col-xs-12.mobile-footer
				a(href='index.html').mobile-footer__link
					img(src='img/logo.svg' alt='Mobike Bazaar')
				a(href='http://projects.lollypop.biz/mobikebazar-seller/terms-conditions.html').mobile-footer__link terms &amp; conditions

			.col-sm-12.col-md-10.col-md-offset-1.hidden-xs
				.col-sm-3.footer__block
					h4.footer__header.heading-sm information
					ul.footer-list
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar-seller/aboutus.html').footer-list__link about us
						li.footer-list__item
							a(href='#').footer-list__link delivery information
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar-seller/privacy-policy.html').footer-list__link privacy policy
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar-seller/terms-conditions.html').footer-list__link terms &amp; conditions
						li.footer-list__item
							a(href='#').footer-list__link site map

				.col-sm-3.footer__block
					h4.footer__header.heading-sm my account
					ul.footer-list
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar/my-account.html').footer-list__link my account
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar/my-orders.html').footer-list__link order history
						li.footer-list__item
							a(href='http://projects.lollypop.biz/mobikebazar/my-wishlist.html').footer-list__link wish list
						li.footer-list__item
							a(href='#').footer-list__link newsletter
						li.footer-list__item
							a(href='#').footer-list__link email a friend

				.col-sm-3.footer__block
					h4.footer__header.heading-sm service &amp; support
					ul.footer-list
						li.footer-list__item
							a(href='#').footer-list__link brands
						li.footer-list__item
							a(href='#').footer-list__link get vouchers
						li.footer-list__item
							a(href='#').footer-list__link affiliates
						li.footer-list__item
							a(href='#').footer-list__link get a quote

				.col-sm-3.footer__block
					h4.footer__header.heading-sm connect with us
					ul.footer-list
						li.footer-list__item
							a(href='tel:+91 9414111060').footer-list__link +91 9414111060
						li.footer-list__item
							a(href='mailto:sellers@mobikebazar.com').footer-list__link sellers@mobikebazar.com
					ul.social
						li.social__item
							a(href='#').social__link.social__link--facebook
								i.mb-icon-facebook.social__icon
						li.social__item
							a(href='#').social__link.social__link--twitter
								i.mb-icon-twitter.social__icon
						li.social__item
							a(href='#').social__link.social__link--linkedin
								i.mb-icon-linkedin.social__icon