footer.card-holders
	.container-fluid
		.card-container
			.payment-card
				img(src="img/payment-cards.png", alt="Payment Options").img-responsive
			.contact-us-btn
				| need help?
				a(href="#") Contact us