#search-overlay
	.search-overlay-parent

		.search-initiator-container
			button.search-close(type="button")
				i.mb-icon-close.modal__close-icon
			.search-content-wrapper
				.locality-selection-wrapper
					.search-initiator
						.searchbar-container
							input.searchbar__input#searchProducts(type="text" placeholder="Search by Model / Brand / Variant or Part name / number")
						button.button.search-initiator-btn.button--md.disabled Search

