.orders-tab-content {
	background-color: $greyf6f3f3;

	@media(min-width: $sm) {
		background-color: $white;
	}
}

.orders-tabs-container {
	@media(min-width: $sm) {
		margin-top: 78px;
	}
}


.order {
	margin-top: 15px;
	padding: 15px;

	&__list {
		background-color: $white;
		//padding: 15px;
		border: 1px solid $borderdfdfdf;
		margin-top: 30px;
		display: flex;
		flex-direction: column;

		@media(min-width: $sm) {
			position: relative;
			padding-bottom: 25px;
		}
		@media(min-width: $md) {
			//padding-bottom: 40px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}

	&__placed-details {
		padding: 0px 15px;
		background-color: $greyf9f8f8;
	}

	&__number {
		font-family: $OpenSans-Regular;
		font-size: 13px;
		color: $black333;
		font-weight: 600;
		padding: 10px 0;
		@media(min-width: $sm) {
			font-size: 14px;
			padding: 15px 0px;
		}
	}

	&__status {
		
		text-transform: capitalize;
		font-weight: 100;

		&--shipped {
			color: $yellowec9600;
		}
		
		&--delivered {
			color: $parrotgreen;
		}

		&--pending {
			color: $red;
		}
		i {
			margin-right: 5px;
			font-size: 10px;
		}
	}

	&__placed {
		font-family: $OpenSans-Regular;
		font-size: 12px;
		color: $black666;
		padding-bottom: 10px;

		@media(min-width: $sm) {
			font-size: 14px;
			padding-bottom: 25px;
		}
	}

	&__product-name {
		font-family: $OpenSans-Semibold;
		font-size: 12px;
		color: $black333;

		@media(min-width: $sm) {
			font-size: 14px;

		}
		@media(min-width: $md) {
			font-size: 15px;
			margin: 20px 0 0 0;
			
		}

	}

	&__product {
		padding: 20px 15px;

		@media(min-width: $sm) {
			order: 3;
			//padding-left: 20px;
			padding-bottom: 0px;

		}
		@media(min-width: $md) {
			padding-top: 30px;
		}
	}

	&__product-details {
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}
		@media(min-width: $sm) {
			//padding: 19px 0px 0px 0;

		}

		@media(min-width: $md) {
			margin-right: 60px;
		}
	}
	
	&__image {
		border: 1px solid $boredrd8d8d8;
	}

	&__price {
		position: relative;
		margin-left: 20px;

		&::before {
			position: absolute;
			color: '';
			background-color: #c9c8c8;
			height: 16px;
			width: 1px;
			content: '';
			left: -10px;
			top: 3px;

			@media(min-width: $md) {
				left: -20px;
			}
		}
		@media(min-width: $md) {
			margin-left: 40px;
		}
	}
	&__expected {
		//padding: 15px 0 0 10px; 
		font-family: $OpenSans-Regular;
		font-size: 12px;
		color: $black999;
		order: 3;
		padding: 0 15px;
		@media(min-width: $sm) {
			order: 2;
			font-size: 14px;
			padding-top: 30px;
			padding-bottom: 20px;
			@media(min-width: $sm) {
				color: $black666;
			}
		}
		@media(min-width: $md) {
			font-size: 16px;
		}

		span {
			display: block;
			padding-top: 15px;

			&:first-child {
				padding-top: 5px;
			}

			@media(min-width: $sm) {
				display: inline-block;
				padding-top: 0px;

				&:last-child {
					margin-left: 20px;
					position: relative;

					&::before {
						position: absolute;
						left: -10px;
						top: 5px;
						background-color: #c9c8c8;
						height: 16px;
						width: 1px;
						content: ''; 
					}
				}
			}
		}

		i {
			font-family: $OpenSans-Semibold;
			color: $black666;
			padding-left: 5px;
		}
	}



	//Styles for tracking buttons

	&__tracking-details {
		margin-top: 25px;
		border-top: 1px solid $bordere5e5e5;
		order: 4;

		@media(min-width: $sm) {
			position: absolute;
			top: 0;
			right: 0;
			border: 0;
			margin-top:  0;
			display: flex; 
			align-items: center;
			height: 93px;
			//top: 20px;
		}

		a {
			width: 50%;
			display: inline-block;
			text-align: center;
			text-transform: capitalize;
			color: $redef0000;
			padding: 16px;
			font-family: $OpenSans-Regular;
			font-size: 12px;
			opacity: 0.8;
			position: relative;

			@media(min-width: $sm) {
				width: auto;
				font-size: 14px;
			}

			&::before {
				position: absolute;
				color: '';
				background-color: #c9c8c8;
				height: 100%;
				width: 1px;
				content: '';
				right: 0px;
				top: 0;
				@media(min-width: $sm) {
					top: 18px;
					height: 16px;
				}
			}

			&:last-child {
				//order-right: 1px solid #e5e5e5;
				&::before {
					content: none;
				}
				@media(min-width: $sm) {
					border-right: 0px;
				}
			}
		}
		.view-order {
			width: 100%;
			&::before {
				display: none;
			}
		}
	}
}

.view-all {
	//padding: 0px 15px;
	margin: 20px 0px;
	//padding: 0 15px;

	@media(min-width: $sm) {
		//padding: 0px;
		margin-bottom: 30px;
		//padding: 0px 15px 0px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__link {
		display: block;
		text-align: center;


		@media(min-width: $sm) {
			display: inline-block;
		}
	}
}

.item-count {
	font-size: 12px;
	font-family: $OpenSans-Regular;
	color: $black999;
	text-transform: capitalize;

	@media(min-width: $md) {
		font-size: 14px;
	}

	&__current {
		padding: 0 5px;
	}
}

.addtocart-btns {
	margin-top: 20px;
    display: inline-block;
    @media(min-width: $md) {
		margin-top: 40px;
	}
}

.remove-btn {
	margin-left: 30px;
	background: transparent;
	border: 0;
	text-transform: uppercase;
	font-size: 13px;
	font-family: $OpenSans-Regular;
	color: $black333;

	@media(min-width: $md) {
		font-size: 16px;
	}
}

.filter-container {
	margin-top: 10px;

	@media(min-width: $md) {
		margin-top: 0px;
		float: right;
		margin-right: 20px;
	}
}
.order-tabs-container {
	display: inline-block;
}
.select-dropdown{
	&--filter {
		display: inline-block;
		margin: 0 15px;

		.select2-container {
			width: 90px !important;
			text-align: center;
		}

		.select2-container .select2-selection--single {
			height: 35px;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 35px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			height: 35px;
		}
		.select-dropdown {
			display: inline-block;
		}
	}
} 


