.mb-reviews-block{	
	padding:35px 0 30px;
}
.mb-review{
	border-bottom:1px solid $borderdfdfdf;
	overflow:hidden;
	padding-bottom:25px;
	.back-link{
		color:$reddd000a;
		@media(min-width:$sm){
			font-size:16px;
			line-height: 26px;
		}
	}
	h4{
		font-size:18px;
		color: #333;
		line-height: 28px;
		// font-weight:bold;
		margin: 10px 0 10px;
	}
	p{
		color: #666;
		font-size:14px;
		line-height: 24px;
		margin:0 0 ;
	}
}
.rating-and-review{
	padding: 30px 0 30px;
    overflow: hidden;
	border-bottom:1px solid $borderdfdfdf;
	.rating-elements{
		@media(min-width:$sm){
		display: inline-block;
		float:left;
		    padding: 0;}
		.rating-star{
			overflow:hidden;
			margin-bottom: 20px;
			p{
			float: left;
    		width: 20%;
    		margin:0;
			}
		}
	}
	.progress-bar{
		width:80%;
		border:1px solid $borderdfdfdf;
		height:20px;
		background-color: #f7f3f4;
		position:relative;
		&:before{
			width:20%;
			background-color:#337ab7;
			content: "";
			display: block;
			position: absolute;
			height: 100%;
		}
	}
	.progress-bar--theme-1:before{
		width:30%;
	}
	.progress-bar--theme-2:before{
		width:40%;
	}
	.progress-bar--theme-3:before{
		width:50%;
	}
	.progress-bar--theme-4:before{
		width:60%;
	}
}

.mb-review-content{
		@media(min-width:$sm){
	padding:0;}
}
.rating-star-show{
	text-align:center;
	span{
	font-size:47px;
	line-height:57px;
	display:inline-block;
	margin-bottom:10px;
	color:#2463ac;
	}	
}
.margin-50{
	margin-top:30px;
	@media(min-width:$sm){
	margin-top:50px;
}
}
span.review-text{
	color:#666;
	font-size:14px;
	line-height: 24px;	
	&--block{
		display: block;
		margin: 30px 0 0;
		@media(min-width:$sm){
		margin:60px 0 0;
		}
	}
}
.user-review-block{
	padding:25px 0;
	overflow:hidden;
	border-bottom:1px solid $borderdfdfdf;
	p{
		font-size:14px;
		color:#666;
		line-height: 24px;
	}
}
.user-review-block-text{
	margin-bottom:20px;
	@media(min-width:$sm){
	padding:0;
	margin-bottom:0;
	}
	span.text-color{
		color:#333;
		font-weight: bold;
	}
}

.review-pop-up{
	.modal .modal-dialog .modal-content .modal-header{
		background-color: #e51e23;
	}
	.modal .modal-dialog .modal-content .modal-header .modal-title{
		color: $white;
	}
	.modal .modal-dialog .modal-content .modal-header .close{
		color:$white;
	}
}
.pop-up-align{
	display: inline-block;
    float: left;   
}
.post-review{
	display: inline-block;
    margin-left: 10px;	
	@media(min-width:$sm){
    margin-left: 30px;
	}
	p{
		font-size:16px;
		line-height: 26px;
	}
}
.border-0{
	border:0;
}
button.close-btn{
	background-color:transparent;
	// border:1px solid #286090;
	color:#286090;
	font-weight:bold;
	&:active{
		outline: 0;
		border:0;
	}
}
.user-review-block--align{
	padding:15px 0;
}
.ratings-heading {
	margin-bottom:25px;
}
.reviews-link{
	color:#333;
	font-size:14px;
	line-height:24px;
	font-weight:bold;
	&:hover{
		color:#333;
	}
}
.post-form{
	display:block;
	clear:both;
}