doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    //
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Mobikebazar
    style(type='text/css').
      @media only screen and (max-width: 360px) {
      body {
      margin: 0;
      padding: 0;
      }
      table[class="container"] {
      width: 100% !important;
      }
      /* force container columns to (horizontal) blocks */
      td[class="force-col"] {
      display: block;
      padding-right: 0 !important;
      border-top: none;
      width: 100%;
      text-align: center;
      padding-left: 0 !important;
      }
      table[class="col-3"] {
      /* unset table align="left/right" */
      float: none !important;
      width: 100% !important;
      /* change left/right padding and margins to top/bottom ones */
      padding: 10px 10px !important;
      }
      .heading{
      margin-bottom:20px !important;
      }
      }
  body(bgcolor='#ededed', style='margin: 0;font-family:Helvetica; padding: 0;')
    table.container(cellpadding='0', cellspacing='0', border='0', style='width: 100%;')
      tr
        td.force-col(valign='top', width='650')
          table.col-3(bgcolor='#f7f3f4',align='center', border='0', cellpadding='0', cellspacing='0', width='650')
            tr
              td.force-col(bgcolor='#fff', style='padding-left: 20px; padding-right:20px; padding-top: 20px; padding-bottom:20px; border-bottom:1px solid #dfdfdf', width='100%')
                table.container(cellpadding='0', cellspacing='0', border='0', width='100%')
                  tr
                    // logo starts
                    td.force-col(valign='center', align='left', width='30%')
                      img(src='../img/logo.svg', width='130', height='30')
                    // logo ends
                    // content starts
                    td.force-col(valign='center', align='right', width='70%')
                      table                     
                        tr
                          td                         
                            img(src='../img/settings.png', width='18', height='18')
                            p(style='display:inline-block;margin:0;color:#757575;font-size:14px;float:right;font-family:Helvetica;line-height: 22px;margin-left: 5px;text-transform:uppercase;font-family:Helvetica;font-weight:bold;    margin-top: -2px;') 100% Genuine parts
                  // content ends
            tr
              td.force-col(valign='top',style='padding-left: 30px; padding-right:30px; padding-top: 30px; padding-bottom:30px;')
                table.container(cellpadding='0', cellspacing='0', border='0', width='100%')
                  tr
                    td.force-col(align='left',style='padding-top:15px;padding-bottom:15px;')
                      h1.heading(style='font-size:27px;line-height:35px;font-weight:500;margin-bottom:20px;color:#333;text-transform:capitalize;margin-top:0;') hi sravani !
                      p(style='color:#666;font-size:19px;lineheight:27px;') Your items have been delivered                     
                  tr
                    td
                      table.container(bgcolor='#fff',style='padding-top:30px;padding-bottom:30px;border:1px solid #dfdfdf; padding-left: 25px; padding-right: 25px;')
                        tr
                          td(align='left', width='50%')
                            img(src='img/category-img1.png')
                          td(valign='top',width='50%')
                            table(style='padding-left:25px;')
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') part number
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#333;font-size:14px;line-height:24px;padding-left:20px;') 21C-E1400-00
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') part name
                                td(style='padding-top:20px,padding-bottom:20px;color:#333,font-size:14px;line-height:24px;padding-left:20px;') Crank shift Assembly                          
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') price
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#333;font-size:14px;line-height:24px;padding-left:20px;') Rs 2150
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') order no
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#333;font-size:14px;line-height:24px;padding-left:20px;') #3014402171
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') delivered date
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#333;font-size:14px;line-height:24px;padding-left:20px;') 10/04/2017
                              tr
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#666;font-size:14px;line-height:24px;') sold by
                                td(style='padding-top:15px;padding-bottom:15px;text-transform:capitalize;color:#333;font-size:14px;line-height:24px;padding-left:20px;') susheela motors
                  tr
                    td(style='padding-top:30px;padding-bottom:30px;')
                      h6.wishes(style='font-size:14px;font-family:Helvetica;margin-top:0;margin-bottom:15px;line-height:24px;font-weight:500;color:#666666;text-transform:capitalize;') delivery address
                      p(style='font-size:14px;font-weight:500;font-family:Helvetica;margin-top:0px;margin-bottom:0px;line-height:24px;color:#333;width:60%;') 49,Aditya Nilaya,Near Aakruthi Apartment 27th main,Hsr layout 2nd sector Bangalore - 560102.
                  tr
                    table(bgcolor='#fff',style='padding-top:30px;padding-bottom:30px;padding-left:25px;border:1px solid #dfdfdf', width='100%')
                      tr
                        td.force-col(width="100%")
                          p(style='font-size:14px;font-family:Helvetica;margin-top:0;margin-bottom:15px;line-height:24px;font-weight:500;color:#666666;text-transform:capitalize;' width="100%") How likely would you recommend MobikeBazar to your friend?
                      tr
                        td
                          table(width="100%")
                            tr
                              td.force-col(width='10%')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 01
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 02
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 03
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 04
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 05
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 06
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 07
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 08
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 09
                              td(style='width:10%;')
                                a(href="#",style='width:15px;height:15px;border:1px solid #e0e0e0;background-color:#f7f3f4;border-radius:50%; display:block;')
                                span(style='width:10%;margin-top:10px;display:inline-block;color:#999') 10
                      tr
                        td
                          table(style='width:100%;')
                            tr                      
                              td(align="left",style='width:50%;')
                                span(style='font-size:14px;line-height:24px;color:#333;display:inline-block;text-transform:capitalize;margin-top: 10px;') very unlikely:(
                              td(style='width:50%;text-align:right;padding-right: 25px;')
                                span(style='font-size:14px;line-height:24px;color:#333;display:inline-block;text-transform:capitalize;margin-top: 10px;') very likely:)
                    
                  tr
                    td(style='padding-left: 30px; padding-right:30px; padding-top: 20px; padding-bottom:20px;border-bottom:1px solid #dfdfdf;')
                      p(style='margin:0;font-size:14px;font-weight:500;line-height:24px;color:#757575;width:65%;') Thank you for shopping with Us. Hope to see you soon again! MobikeBazar Team
                  tr
                    td
                      table(bgcolor="#fff",style='width:100%;padding-top:30px;padding-bottom:30px;padding-left:25px;padding-right:25px;border-bottom:1px solid red;margin-bottom:3px;')
                        tr
                          td(align="left",style='width:50%;')
                            span(style='font-size:14px;line-height:24px;color:#757575;display:inline-block;text-transform:capitalize;') For more details,visit 
                             a(href="#",style='font-size:14px;line-height:24px;color:#ef0000;display:inline-block;text-transform:capitalize;margin-left:8px;font-weight:bold;') my orders
                          td(align="right",style='width:50%;')
                            span(style='font-size:14px;line-height:24px;color:#757575;display:inline-block;text-transform:capitalize;') need help?
                            a(href="#",style='font-size:14px;line-height:24px;color:#ef0000;display:inline-block;text-transform:capitalize;margin-left:8px;font-weight:bold;') click here