doctype html

- var page_name = "my-orders"

head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="IE=10")
	title MobikeBazar - My Orders
	link(rel="stylesheet", href="css/main.css")
	link(rel="shortcut icon", href="img/favicon.ico")
	script(src='js/plugins/modernizr.js')

body.no-overflow.my-orders
	//START: Header
	include jade/header-after-login.jade
	//START: Main
	main.main-height

		//START: User Profile
		section.user-content
			span.user-account my account
			span.user-name Pankaj jain
			span.pull-right
				a(data-toggle="modal" data-target="#register-bike").register-bike-link register my bike
		
		//START: My Orders Tabs
		section.orders-tabs-container
			.container-fluid
				.row
					ul.order-options.hidden-xs
						li.order-options__list.active
							a.order-options__link(href="my-orders.html") my orders
						li.order-options__list
							a.order-options__link(href="my-wishlist.html") my wishlist
						li.order-options__list
							a.order-options__link(href="my-profile.html") my profile
						li.order-options__list
							a.order-options__link(href="my-address.html") my address
						li.order-options__list
							a.order-options__link(href="my-cashback.html") my cash back
					.col-sm-12.btn-holder.hidden-xs
						a(href='#').button.button--primary-white.button--lg logout
					h3.orders-title.text-center.visible-xs my orders
					.tabs-content.order-tabs
						.order-tabs-container
							ul.nav.nav-tabs.tabs-list.order-tabs-list.order-tabs-list--white(role='tablist')
								li.nav-item.order-tabs__item.active
									a.nav-link.order-tabs__link(data-toggle='tab', href='#orders', role='tab') orders
								li.nav-item.order-tabs__item.has-width--1
									a.nav-link.order-tabs__link(data-toggle='tab', href='#pending-orders', role='tab') Pending Orders
								li.nav-item.order-tabs__item.has-width--2
									a.nav-link.order-tabs__link(data-toggle='tab', href='#saved-list', role='tab') Saved Lists
								li.nav-item.order-tabs__item.has-width--3
									a.nav-link.order-tabs__link(data-toggle='tab', href='#parts-in-query', role='tab') parts in enquiry

						.filter-container
							.select-dropdown.select-dropdown--filter
								select.form-control.form-group__select.single-quant
									option Sort by
									option Recent
									option Oldest
							.select-dropdown.select-dropdown--filter
								select.form-control.form-group__select.single-quant
									option Filter by
									option Month
									option Vender


						// Tab panes
						.tab-content.orders-tab-content
							//Start Orders tab Content
							#orders.tab-pane.active.fade.in(role='tabpanel')
								.order
									//START: Order shipped
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--shipped 
													i.mb-icon-right
													| shipped  
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											.order__product-details
												img(src="img/order-1.png", alt="").order__image
												h5.order__product-name Chain Sproket
										.order__expected
											span Shipment Qty : 
												i 1
											
											span Expected Delivery by
												i Monday, Nov 12, 2016.
										.order__tracking-details
											a(href="#") track order
											a(href="#") view order
									//START: Order Delivered
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--delivered 
													i.mb-icon-right
													| Delivered  
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											.order__product-details
												img(src="img/order-1.png", alt="").order__image
												h5.order__product-name Chain Sproket
											.order__product-details
												img(src="img/order-1.png", alt="").order__image
												h5.order__product-name Chain Sproket
										.order__expected
											span Shipment Qty : 
												i 1
											
											span Expected Delivery by
												i Monday, Nov 12, 2016.
										.order__tracking-details
											a(href="#").visible-md.visible-lg Download invoice
											a(href="return-order.html") return order

											a(href="#") view order
								.col-sm-12
									.view-all
										a(href='#').button.button--primary-white.button--lg.view-all__link view all orders
										.item-count.hidden-xs
											| showing
											span.item-count__current 1-2
											span.item-count__total of  2
							
							//Start Pending Orders tab Content
							#pending-orders.tab-pane.fade(role='tabpanel')
								.order
									//START: Order shipped
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--pending 
													i.mb-icon-right
													| Pending  
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										
										.order__expected
											span Shipment Qty : 
												i 30
											span.order__payment Your NEFT/RTGS payment is pending.
										.order__payment-status.order__payment-status--my-orders
											| Bajaj Bikes part list
											a(href="#", data-target='#neft-details', data-toggle='modal') view list
											.imps-details
												.form-group
													.row.imps-details__row
														.col-sm-7.col-md-3
															
															span.input.input--hoshi
																input(type='text').input__field.input__field--hoshi
																label(for='number').input__label.input__label--hoshi-color-1.input__label--hoshi
																	span.input__label-content--hoshi.input__label-content Enter UTR number here
														.col-sm-5.col-md-3
															
															a(href="javascript:void(0)").button.button--lg.button--primary-white.submit-btn submit
												
												p.check-payment-info.check-payment-info--my-orders
													| * We will confirm your order once the payment is realized to  
													span Mobikebazaar's 
													| account. We will send an order confirmation message via Mail or SMS
										.order__tracking-details
											a(href="#") track order
											a(href="#") view order
									.order__list.hidden-xs
										.order__placed-details
											.order__number
												span.order__status.order__status--pending 
													i.mb-icon-right
													| Pending 
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											.order__product-details
												img(src="img/order-1.png", alt="").order__image
												h5.order__product-name Chain Sproket
											.order__product-details
												img(src="img/order-1.png", alt="").order__image
												h5.order__product-name Chain Sproket
										.order__expected
											span Shipment Qty : 
												i 1
											
											span Expected Delivery by
												i Monday, Nov 12, 2016.
										.order__tracking-details
											a(href="#") cancel order
											a(href="#") view order
								.col-sm-12
									.view-all

										a(href='#').button.button--primary-white.button--lg.view-all__link view all orders
										.item-count.hidden-xs
											| showing
											span.item-count__current 1-2
											span.item-count__total of  2
							
							//Start Saved List tab Content
							#saved-list.tab-pane.fade(role='tabpanel')
								.order
									//START: Saved List 1
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--delivered
													i.mb-icon-right
													| Delivered 
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										
										.order__expected
											span Shipment Qty : 
												i 30
											span.order__payment Your NEFT/RTGS payment is pending.
										p.order__payment-status
											| Bajaj Bikes part list
											a(href="#", data-target='#neft-details', data-toggle='modal') view list
										.order__tracking-details
											a(href="#") cancel order
											a(href="#") view order
									

									//START: Saved List 2
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--delivered 
													i.mb-icon-right
													| Delivered  
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										
										.order__expected
											span Shipment Qty : 
												i 30
											span.order__payment Your NEFT/RTGS payment is pending.
										p.order__payment-status
											| Bajaj Bikes part list
											a(href="#", data-target='#neft-details', data-toggle='modal') view list
										.order__tracking-details
											//a(href="#") track order
											a(href="#").view-order view order
								.col-sm-12
									.view-all

										a(href='#').button.button--primary-white.button--lg.view-all__link view all orders
										.item-count.hidden-xs
											| showing
											span.item-count__current 1-2
											span.item-count__total of  2
							
							//Start Parts in Query tab Content
							#parts-in-query.tab-pane.fade(role='tabpanel')
								.order
									//START: Order on Query
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--shipped 
													i.mb-icon-right
													| On Query 
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											p.order-info We are searching for your part. We’ll get back with the right part.
											.order__product-details.pull-left
												img(src="img/order-1.png", alt="").order__image
											h5.product-name BAJAJ / AVENGER 180 / 2009 - Chain part
									//START: Available
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--delivered 
													i.mb-icon-right
													| Available  
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											p.order-info Your part is available now !
											.order__product-details.pull-left
												img(src="img/order-1.png", alt="").order__image
											h5.product-name BAJAJ / AVENGER 180 / 2009 - Chain part
											.addtocart-btns
												button(type='button').button.button--sm.button--primary-white add to cart
												button(type='button').remove-btn remove
									//START: Out of stock
									.order__list
										.order__placed-details
											.order__number
												span.order__status.order__status--pending 
													i.mb-icon-right
													| Out of stock
												| - OD19372987263438
												span.order__price.hidden-xs Total Rs 3380
											.order__placed Order Placed on Thursday, Nov 09, 2016
										.order__product
											p.order-info We regret your part is out of stock !
											.order__product-details.pull-left
												img(src="img/order-1.png", alt="").order__image
											h5.product-name BAJAJ / AVENGER 180 / 2009 - Chain part
											
								.col-sm-12
									.view-all
										a(href='#').button.button--primary-white.button--lg.view-all__link view all orders
										.item-count.hidden-xs
											| showing
											span.item-count__current 1-2
											span.item-count__total of  2

	//START: Footer 
	include jade/footer-after-login.jade
	
	//START: Login Modal - Quickorder
	include jade/quickOrder-login-modal.jade
	
	//START: Popup Bike Registarion
	#register-bike.modal.bike-register.modal--fullxs.fade(role='dialog', tabindex="-1" )
		.modal-dialog.modal__dialog
			.modal-content
				.modal-header
					button(type='button' data-dismiss='modal').close.close.close--closebike
						i.mb-icon-close.modal__close-icon
					h4.modal-title.modal__title Bike registration
				.modal-body.text-center
					p.bike-register__info Do you want to register your bike?
					.text-center
						a.button.button--primary-red.button--primary-red--border.button--md(data-toggle="modal" data-target="#register-bike-popup-2" data-dismiss='modal') lets do it now
					.text-center
						a.bike-register__later(href='#' data-dismiss='modal') i will do it later &gt;&gt;
	//START: Pop up bike brand variation
	
	#register-bike-popup-2.modal.modal--fullxs.fade(role='dialog', tabindex="-1")
		.modal-dialog.modal__dialog
			.modal-content
				.modal-header.modal--header
					
					button(type='button' data-dismiss='modal').close.close--closebike
						i.mb-icon-close.modal__close-icon
					h4.modal-title.modal__title Register your vehicle


				.modal-body.modal__body
					
					//START: Wizard Steps 
					form#msform1.bike-stepwizard
						ul#progressbar.bike-stepwizard__row.setup-panel
							li.bike-stepwizard__step.bike-stepwizard__step--first.current-step(data-step-name="step-1")
								a(href='#step-1' aria-controls="step-1" role="tab" data-toggle="tab").bike-stepwizard__link.active
									i.mb-icon-right
								p.bike-stepwizard__option.active brand

							li.bike-stepwizard__step(data-step-name="step-2")
								a(href='#step-2' aria-controls="step-2" role="tab" data-toggle="tab").bike-stepwizard__link 
									i.mb-icon-right
								p.bike-stepwizard__option model

							li.bike-stepwizard__step(data-step-name="step-3")
								a(href='#step-3' aria-controls="step-3" role="tab" data-toggle="tab").bike-stepwizard__link.last-child
									i.mb-icon-right
								p.bike-stepwizard__option variant

						//START: Wizard Content

					.tab-content.clearfix
						#step-1.setup-content.tabpanel.tab-pane.active
							h3.bike-brand__title.text-center Select your Brand
							.bike-scrollbox
								.bike-brand__wrap
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/bajaj.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/tvs.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/yamaha.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/suzuki.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/royal-enfield-logo.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-4.col-xs-6.bike-brand__block
										a(href='#').bike-brand__link.bike-next
											img(src='img/bike-brands/tvs.png').bike-brand__image
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
						#step-2.setup-content.tabpanel.tab-pane
							h3.bike-brand__title.text-center Select your Model
							.bike-scrollbox.clearfix
								.bike-container.bike-brand__wrap.clearfix.col-sm-10.col-sm-offset-1
									.col-sm-6.bike-brand__model
										a(href='#').bike-brand__bike-link.bike-next-2
											img(src='img/bike-brands/thunder-bird.png').bike-brand__bike-image.img-responsive
											h3.bike-brand__bike-title Thunderbird 350
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-6.bike-brand__model
										a(href='#').bike-brand__bike-link.bike-next-2
											img(src='img/bike-brands/royal-enfield-1.png').bike-brand__bike-image.img-responsive
											h3.bike-brand__bike-title Himalayan
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
									.col-sm-6.bike-brand__model
										a(href='#').bike-brand__bike-link.bike-next-2
											img(src='img/bike-brands/thunder-bird.png').bike-brand__bike-image.img-responsive
											h3.bike-brand__bike-title Thunderbird 35
											.bike-brand__overlay
												svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
													circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
													path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
						#step-3.setup-content.tabpanel.tab-pane
							h3.bike-brand__title.text-center You’ve selected 
								span Himalayan
							.bike-scrollbox.clearfix
								.col-sm-6.col-sm-offset-3
									a(href='#').bike-brand__bike-link.bike-submit
										img(src='img/bike-brands/royal-enfield.png').img-responsive.bike-brand__bike-image
									.text-center
										a(data-toggle='modal',data-target='#register-bike-final-reg',data-dismiss='modal').button.button--primary-white.button--lg.proceed-btn PROCEED TO CATEGORIES
	//START: Popup Bike Registarion
	
	#register-bike-final-reg.modal.bike-register.modal--fullxs.fade(role='dialog', tabindex="-1")
		.modal-dialog.modal__dialog
			.modal-content.modal__content
				.modal-header
					button(type='button' data-dismiss='modal').close.close.close--closebike
						i.mb-icon-close.modal__close-icon
					h4.modal-title.modal__title Register your vehicle
				.modal-body.modal-scrollbar.text-center.clearfix
					p.bike-register__info We would need your motorcycle’s
					form(role='form').col-sm-6.col-sm-offset-3.bike-register__form
						.row
							.col-sm-12
								.form-group
									span.input.input--hoshi
										input(type='text').input__field.input__field--hoshi
										label(for='number').input__label.input__label--hoshi-color-1.input__label--hoshi
											span.input__label-content--hoshi.input__label-content
												| Registration Number
					p.or-content.clear or

					form(role='form').col-sm-6.col-sm-offset-3.bike-register__form
						.row
							.col-sm-12
								.form-group
									span.input.input--hoshi
										input(type='text').input__field.input__field--hoshi
										label(for='number').input__label.input__label--hoshi-color-1.input__label--hoshi
											span.input__label-content--hoshi.input__label-content Engine Number
					.text-center.clear
						i.info Why should i provide these details ?
						a(href='#' data-dismiss='modal').button.button--primary-white.button--lg Finish registration
	//START: NEFT Details Modal
	
	#neft-details.modal.bike-register.modal--fullxs.fade(role='dialog', tabindex="-1")
		.modal-dialog.modal__dialog
			.modal-content.modal__content
				.modal-header
					button(type='button' data-dismiss='modal').close.close.close--closebike
						i.mb-icon-close.modal__close-icon
					h4.modal-title.modal__title.hidden Register your vehicle
				.modal-body.modal-scrollbar.clearfix
					h5.small-heading.small-heading--bank-details Bank details
					.beneficiary-details
						h3.beneficiary-name Beneficiary Name
						h3.beneficiary-user-name Pankaj jain
					.beneficiary-details
						h3.beneficiary-name Beneficiary Account number
						h3.beneficiary-user-name 000263552387
					.beneficiary-details
						h3.beneficiary-name Bank Name
						h3.beneficiary-user-name ICICI
					.beneficiary-details
						h3.beneficiary-name IFSC Code
						h3.beneficiary-user-name ICIH8342
	
	//START: Search Overlay Modal
	include jade/search-overlay.jade
	//START: Plugin Scripts
	include jade/scripts.jade
	+script(page_name)
	
